@font-face {
  font-family: "CustomFont";
  src: url("../fonts/baskvl.ttf") format("truetype");
}

@font-face {
  font-family: "CustomFontMiring";
  src: url("../fonts/BaskervilleItalicBT.woff") format("truetype");
}

@font-face {
  font-family: "CustomFontBold";
  src: url("../fonts/BaskervilleBoldBT.woff") format("truetype");
}

* { box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "CustomFont", sans-serif !important;
  scroll-behavior: smooth;
}


.carousel{
  min-height: 100vh;
  padding-top: 50px;
}

.carousel-cell {
  position: relative;
  width: 65%;
  min-height: 500px;
  margin-right: 10px;
}
.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.carousel-cell::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8) 0%, transparent 20%);
  z-index: 1;
}

.carousel-cell::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8) 0%, transparent 20%);
  z-index: 1;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

.black {
  color: black;
}

.slider-img {
  height: 500px;
  width: 100%;
  z-index: 1;
}

.slider-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 243, 243, 0.3);
  z-index: -1;
}

.top-img {
  z-index: 999;
  width: 350px;
  padding-top: 10px;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section {
  min-height: 100vh;
  font-size: 2rem;
}

.header-background {
  background-image: url("../img/background_header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.header-title {
  color: white;
  font-size: 34px;
  padding-top: 50px;
  line-height: 1.5;
}

.learn-more {
  width: 200px;
  padding-top: 80px;
}

.background-arsir {
  height: 100%;
  background-image: url("../img/BACKGROUND-PAGE-2.png");
}

.welcome-home {
  width: 100%;
  height: 500px;
  padding-top: -50px;
}

.welcome-page-2 {
  font-size: 42px;
  font-family: "CustomFontMiring", sans-serif !important;
  line-height: 1;
}

.home-page-2 {
  font-size: 120px;
  line-height: 1;
}

.desc-page-2 {
  font-size: 29px;
}

.title-page-3 {
  font-size: 44px;
  font-weight: 550;
  font-family: "CustomFontMiring", sans-serif !important;
}

.desc-page-3 {
  font-size: 28px;
  line-height: 1.2;
}

.title-page-4 {
  font-size: 60px;
  font-family: "CustomFontBold", sans-serif !important;
  color: #623e28;
}

.desc-page-4 {
  font-size: 30px;
}

.maps {
  max-height: 100vh;
  width: 100%;
}

.bg-meet-us {
  position: relative;
  background-image: url("../img/7_FOTO_AMBIENCE.png");
  background-size: cover;
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  z-index: 1; /* Tambahkan z-index di sini */
}

.bg-meet-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(70, 84, 94, 1);
  box-shadow: 140px 0 12px rgba(70, 84, 94, 0.95);
  z-index: -1; /* Kurangi z-index di sini */
}

.form-meet-us {
  z-index: 999;
}

label {
  font-size: 24px;
  font-family: "CustomFontMiring", sans-serif !important;
}

.bg-blue {
  background-color: #667986;
  color: white;
}

.bg-green {
  background-color: #858b72;
  color: white;
}

.logo-alsut {
  width: 800px;
}

.footer {
  font-size: 24px;
  font-weight: 550;
  font-family: "CustomFontBold", sans-serif !important;
}

.text-small {
  font-size: 14px;
  line-height: 1.4;
}

.phone-number {
  font-size: 18px;
  font-family: "CustomFontMiring", sans-serif !important;
}

.rows > div:not(:last-child) {
  border-right: 1px solid white;
}

.flex-center {
  display: flex;
  align-items: center;
  align-content: center;
}

.italic {
  font-family: "CustomFontMiring", sans-serif !important;
}

.header-form {
  font-size: 48px;
}

.submit {
  background: white;
  color: #667986;
  border-radius: 20px;
  font-size: 24px;
  height: 40px;
  width: 200px;
}

input {
  background-color: rgba(0, 123, 255, 0.2);
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.show-mobile {
  display: none;
}
.show-desktop {
  display: block;
}

.section-footer {
  height: 300px;
}

.section-contact {
  height: 300px;
}

  .title-contact {
    font-size: 22px;
  }

/* Stil untuk layar berukuran besar (desktop) */
@media screen and (min-width: 992px) {
}

/* Stil untuk layar sedang (tablet) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header-logo {
    padding-top: 80px;
  }
  .header-title {
    font-size: 20px;
    padding-top: 100px;
  }
  .learn-more {
    width: 150px;
  }

  .welcome-home {
    width: 100%;
    height: 300px;
  }
  .welcome-page-2 {
    font-size: 38px;
  }
  .home-page-2 {
    font-size: 70px;
  }
  .desc-page-2 {
    font-size: 24px;
    padding-top: 50px;
  }

  .title-page-3 {
    font-size: 32px;
  }

  .desc-page-3 {
    font-size: 24px;
    line-height: 1.5;
  }

  .title-page-4 {
    font-size: 32px;
  }

  .desc-page-4 {
    font-size: 24px;
  }

  .footer {
    font-size: 14px;
  }

  .rows > div:not(:last-child) {
    border-bottom: 1px solid white;
    border-right: 0px solid white;
  }

  .header-meet-us {
    font-size: 26px;
  }

  .header-form {
    font-size: 30px;
  }

  .bg-meet-us::before {
    width: 100%;
    background-color: rgba(70, 84, 94, 0.7);
    box-shadow: none;
  }

  label {
    font-size: 20px;
  }
}

/* Stil untuk layar kecil (ponsel) */
@media screen and (max-width: 767px) 
{
.section-contact {
  height: 650px;
}
  .carousel{
    min-height: 200px;
    max-height: 350px;
  }
  
  .carousel-cell::before {
    height: 300px;
  }
  .carousel-cell::after {
    height: 300px;
  }
  .top-img {
    width: 200px;
  }
  .show-mobile {
    display: block;
  }
  .show-desktop {
    display: none;
  }

  .header-logo {
    padding-top: 80px;
  }
  .header-title {
    font-size: 20px;
    padding-top: 100px;
  }
  .learn-more {
    width: 150px;
  }

  .welcome-home {
    width: 100%;
    height: 300px;
  }
  .welcome-page-2 {
    font-size: 32px;
  }
  .home-page-2 {
    font-size: 70px;
  }
  .desc-page-2 {
    font-size: 24px;
    padding-top: 50px;
  }

  .title-page-3 {
    font-size: 32px;
  }

  .desc-page-3 {
    font-size: 24px;
    line-height: 1.5;
  }

  .title-page-4 {
    font-size: 32px;
  }

  .desc-page-4 {
    font-size: 24px;
  }

  .developed-by {
    font-size: 18px;
  }

  .rows > div:not(:last-child) {
    border-bottom: 1px solid white;
    border-right: 0px solid white;
  }

  .header-meet-us {
    font-size: 26px;
  }

  .header-form {
    font-size: 30px;
  }

  .bg-meet-us::before {
    width: 100%;
    background-color: rgba(70, 84, 94, 0.7);
    box-shadow: none;
  }

  label {
    font-size: 20px;
  }

  .section-map-mobile {
    min-height: 300px;
    height: auto !important;
    height: 300px;
  }
  .section-about-mobile {
    min-height: 500px;
    height: auto !important;
    height: 500px;
  }

  .section-carousel-mobile {
    min-height: 300px;
    height: auto !important;
    height: 300px;
  }
  .logo-alsut {
    margin-top: -120px;
    width: 300px;
  }

  .footer {
    font-size: 14px;
    margin-top: -120px;
  }
}
